.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.menu-item {
  padding-left: 10px;
  padding-right: 10px;
  color: blue;
  
  &.active {
    color: purple;
  }
}

img {
  max-width: 100%;
}